@using ParagliderFlightLog.ViewModels
@using BlazorUI.Components
<div class="container">
    <div class="col-4">
        <MyTextInput Label="Manufacturer" @bind-Value=@GliderToEdit.Manufactuer />
        <MyTextInput Label="Model" @bind-Value=@GliderToEdit.Model />
        <MyTextInput Label="Igc Name" @bind-Value=@GliderToEdit.IgcName />
        <strong>Build year</strong>
        <MyIntegerInput Label="BuildYear" @bind-Value=@GliderToEdit.BuildYear />
        <strong>Last check date</strong>
        <RadzenDatePicker @bind-Value=@GliderToEdit.LastCheckDateTime DateFormat="d" class="w-100" />
        <strong>Homologation category</strong>
        <RadzenDropDown TValue="string" @bind-Value=@GliderToEdit.HomologationCategoryDisplay Data=@GliderViewModel.HomologationCategories/>
    </div>
</div>
@code {
    [Parameter]
    public GliderViewModel GliderToEdit { get; set; }





}