@using ParagliderFlightLog.ViewModels

<div class="container">
    <div class="col-4">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Name</RadzenText>
                <RadzenTextBox @bind-Value=@SiteToEdit.Name Class="w-100" />
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Town</RadzenText>
                <RadzenTextBox @bind-Value=@SiteToEdit.Town Class="w-100" />
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Country</RadzenText>
                <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@SiteToEdit.AvailableCountry @bind-Value=@SiteToEdit.Country
                        Class="w-100" />

                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Wind</RadzenText>

         <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H2">From</RadzenText>
        <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@SiteToEdit.AvailableWindOrientation @bind-Value=@SiteToEdit.WindOrientationBegin
                        Class="w-100" />
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H2">To</RadzenText>
        <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@SiteToEdit.AvailableWindOrientation @bind-Value=@SiteToEdit.WindOrientationEnd
                        Class="w-100" />
    </div>
    <div class="col-8">
        <div class="row">
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Latitude</RadzenText>
            <RadzenNumeric ShowUpDown="false" @bind-Value=@SiteToEdit.Latitude Class="w-100" />
                               <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Longitude</RadzenText>
            <RadzenNumeric ShowUpDown="false" @bind-Value=@SiteToEdit.Longitude Class="w-100" />
                                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Altitude</RadzenText>
            <RadzenNumeric ShowUpDown="false" @bind-Value=@SiteToEdit.Altitude Class="w-100" />
        </div>
    </div>
</div>
@code {
    [Parameter] 
    public SiteViewModel SiteToEdit { get; set; }
    [Parameter]
    public MainViewModel ViewModel { get; set; }

    

}
