@using ParagliderFlightLog.ViewModels
@using BlazorUI.Components

<div class="container">
    <div class="col-4">
        <MyTextInput Label="Name" @bind-Value=@SiteToEdit.Name />
        <MyTextInput Label="Town" @bind-Value=@SiteToEdit.Town />
        <strong>Country</strong>
                <RadzenDropDown AllowFiltering="false" Data=@SiteToEdit.AvailableCountry @bind-Value=@SiteToEdit.Country
                        Class="w-100" />

        <strong>Wind</strong>

        <strong>From</strong>
        <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@SiteToEdit.AvailableWindOrientation @bind-Value=@SiteToEdit.WindOrientationBegin
                        Class="w-100" />
        <strong>To</strong>
        <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@SiteToEdit.AvailableWindOrientation @bind-Value=@SiteToEdit.WindOrientationEnd
                        Class="w-100" />
    </div>
    <div class="col-8">
        <div class="row">
            <MyNumericInput Label="Latitude [°]" @bind-Value=@SiteToEdit.Latitude />
            <MyNumericInput Label="Longitude [°]" @bind-Value=@SiteToEdit.Longitude />
            <MyNumericInput Label="Altiude [m]" @bind-Value=@SiteToEdit.Altitude />
        </div>
    </div>
</div>
@code {
    [Parameter] 
    public SiteViewModel SiteToEdit { get; set; }
    [Parameter]
    public MainViewModel ViewModel { get; set; }
    


}
