@page "/SitesList"
@inject ContextMenuService ContextMenuService
@inject DialogService DialogService
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject IWebHostEnvironment Environment
@inject MainViewModel mvm
@using ParagliderFlightLog.ViewModels

<PageTitle>Sites list</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-8">
            <RadzenDataGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="20"
                            AllowSorting="true" Data="@mvm.SiteListViewModel" TItem="SiteViewModel"
                            SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedSites
                            ContextMenu=@(args => ShowContextMenuWithItems(args))>
                <Columns>
                    <RadzenDataGridColumn TItem="SiteViewModel" Property="Name" Title="Site name" Width="150px" />
                    <RadzenDataGridColumn TItem="SiteViewModel" Property="Altitude" Title="Altitude" />
                    <RadzenDataGridColumn TItem="SiteViewModel" Property="WindOrientation" Title="Wind orientation" />
                    <RadzenDataGridColumn TItem="SiteViewModel" Property="SiteUseCount" Title="# Used" />
                </Columns>
            </RadzenDataGrid>
        </div>
        @if (LastSelectedSite != null)
        {
            <div class="col-4">
                <div class="row">
                    <strong>Site name:</strong> @LastSelectedSite.Name
                </div>
                <RadzenGoogleMap style="height: 500px"
                                 Zoom=12 Center=@(new GoogleMapPosition() { Lat = LastSelectedSite.Latitude, Lng = LastSelectedSite.Longitude })>
                    <Markers>
                        <RadzenGoogleMapMarker Title="SiteMarker" Label=@LastSelectedSite.Name Position=@(new GoogleMapPosition() { Lat = LastSelectedSite.Latitude, Lng = LastSelectedSite.Longitude }) />
                    </Markers>
                </RadzenGoogleMap>
            </div>
        }
        
    </div>
</div>


