@page "/SitesList"
@inject ContextMenuService ContextMenuService
@inject DialogService DialogService
@inject IJSRuntime jsRuntime
@inject ILogger<SitesList> _logger;
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject IWebHostEnvironment Environment
@inject MainViewModel mvm
@using ParagliderFlightLog.ViewModels

<PageTitle>Sites list</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-6">
            <RadzenDataGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="19"
                            AllowSorting="true" Data="@mvm.SiteListViewModel" TItem="SiteViewModel"
                            SelectionMode="DataGridSelectionMode.Single"
                            ContextMenu=@(args => ShowContextMenuWithItems(args))
                            ValueChanged="UpdateSiteDetails">
                <Columns>
                    <RadzenDataGridColumn TItem="SiteViewModel" Property="Name" Title="Site name" Width="150px" />
                    <RadzenDataGridColumn TItem="SiteViewModel" Property="Altitude" Title="Altitude" />
                    <RadzenDataGridColumn TItem="SiteViewModel" Property="WindOrientation" Title="Wind orientation" />
                    <RadzenDataGridColumn TItem="SiteViewModel" Property="SiteUseCount" Title="# Used" />
                </Columns>
            </RadzenDataGrid>
        </div>
        <div class="col-6">

            <div class="row">
                @if (LastSelectedSite is not null)
                {
                    <BlazorUI.Components.MyTextIndicator Label="Site Name" Text="@LastSelectedSite.Name" />
                }
                else
                {
                    <p>Please select a site</p>
                }
            </div>


            <div class="row" id="map" style="height: 500px"></div>
        </div>
    </div>
</div>



