@rendermode InteractiveServer
<RadzenHeader style="position: static">
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="3">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                <RadzenLink Path="/" Text="Go to index page">
                    <RadzenButton Text="Paraglider Flight Log" ButtonStyle="ButtonStyle.Light" Variant="Variant.Text" />
                </RadzenLink>
            </RadzenStack>
        </RadzenColumn>


        <AuthorizeView>
            <Authorized>
                <RadzenColumn Size="3" Offset="6">
                    <RadzenStack Gap="0" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Orientation="Orientation.Horizontal">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="" />
                            <RadzenButton Icon="logout" ButtonType="ButtonType.Submit" Text="Logout" ButtonStyle="ButtonStyle.Light" Variant="Variant.Text"></RadzenButton>
                        </form>
                        <RadzenLabel>Hello, @context.User.Identity!.Name</RadzenLabel>
                    </RadzenStack>
                </RadzenColumn>

            </Authorized>
        </AuthorizeView>
    </RadzenRow>
</RadzenHeader>

<RadzenSidebar Responsive="false" @bind-Expanded="@sidebarExpanded" style="position: absolute">
    <RadzenPanelMenu Click="@(()=> sidebarExpanded = false)">
        <AuthorizeView>
            <Authorized>
                <RadzenPanelMenuItem Text="Flights List" Icon="menu_book" Path="FlightsList"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Sites List" Icon="place" Path="SitesList"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Flights Statistic" Icon="bar_chart" Path="FlightsStatistic"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Glider" Icon="paragliding" Path="Gliderslist"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Import from LogFly" Icon="input" Path="ImportLogFlyDb"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Settings" Icon="settings" Path="Settings"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Manage Account" Icon="account_circle" Path="/Account/Manage"></RadzenPanelMenuItem>

            </Authorized>
            <NotAuthorized>
                <RadzenPanelMenuItem Text="Register" Icon="input" Path="Account/Register"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Login" Icon="input" Path="Account/Login"></RadzenPanelMenuItem>

            </NotAuthorized>
        </AuthorizeView>

    </RadzenPanelMenu>
</RadzenSidebar>
@code {
    bool sidebarExpanded = false;
}