@using ParaglidingFlightLogWeb.ViewModels
@rendermode InteractiveServer

<div class="container">
    <div class="col-4">


    </div>
</div>
@code {
    [Parameter]
    public GliderViewModel NewGlider { get; set; }
    [Parameter]
    public bool IsOk { get; set; }




}