@using ParaglidingFlightLogWeb.ViewModels
@rendermode InteractiveServer
@inject ILogger<AddGlider> Logger
<div class="container">
    <div class="col-4">


    </div>
</div>
@code {
    [Parameter]
    public GliderViewModel NewGlider { get; set; } = null!;
    [Parameter]
    public bool IsOk { get; set; }

    protected override void OnInitialized()
    {
        Logger.LogInformation("Initialized");
    }


}