@page "/Settings"
@rendermode InteractiveServer
@attribute [Authorize]
<PageTitle>Settings</PageTitle>

<RadzenCard Visible="_isAdmin">
    <h2>Admin Settings</h2>
    <h3>XcScore</h3>
    <RadzenText>Installation is @(XcScoreManagerData.ScoreEngineInstalled ? "Running" : "Not Running")</RadzenText>
    <RadzenText>Number of flight in queue: @_xcScoreQueueCount</RadzenText>
</RadzenCard>
<RadzenCard>
    <h2>User Settings</h2>
    <RadzenButton Click="OnCalculateMissingFileClick" Text="Calculate Missing Flight Score" Disabled="@(HasUserRequestEnqueued())" />
    @if (HasUserRequestEnqueued())
    {
        <RadzenText Text="You have some requests currently processing" />
    }
</RadzenCard>


