@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@using ParaglidingFlightLogWeb.ViewModels
@using ParaglidingFlightLogWeb.Components.Subs
@attribute [Authorize]
@page "/SitesList"
@rendermode InteractiveServer

<PageTitle>Sites list</PageTitle>

    <RadzenRow>
        <MyDatePicker @bind-Value=_startDate Label="From" />
        <MyDatePicker @bind-Value=_endDate Label="To"/>
        <RadzenButton Text="Show sites in time range" Click=OnShowSiteTimeRange Size="ButtonSize.Small"/>
    </RadzenRow>
   <RadzenRow>
    <RadzenColumn Size="12" SizeSM="6" Style="overflow: auto;">
            <RadzenDataGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowSorting="true" Data="@Core.SiteListViewModel" TItem="SiteViewModel"
                            style="height: calc(100vh - 200px)"
                            SelectionMode="DataGridSelectionMode.Single"
                            ContextMenu=@(args => ShowContextMenuWithItems(args))
                            ValueChanged="UpdateSiteDetails">
                <Columns>
                    <RadzenDataGridColumn TItem="SiteViewModel" Property="Name" Title="Site name" MinWidth="150px" />
                <RadzenDataGridColumn TItem="SiteViewModel" Property="Altitude" Title="Altitude" Width="150px" />
                <RadzenDataGridColumn TItem="SiteViewModel" Property="WindOrientation" Title="Wind orientation" Width="200px" />
                <RadzenDataGridColumn TItem="SiteViewModel" Property="SiteUseCount" Title="# Used" Width="100px" MinWidth="200px" />
                </Columns>
            </RadzenDataGrid>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenCard>
            <div class="row">
                @if (LastSelectedSite is not null)
                {
                    <MyTextIndicator Label="Site Name" Text="@LastSelectedSite.Name" />
                }
                else
                {
                    <p>Please select a site</p>
                }
            </div>


            <div class="row" id="map" style="height: 500px"></div>
            </RadzenCard>

        </RadzenColumn>
    </RadzenRow>



